<!-- Begin Direction Details-->
<section id="direction-details">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
        {% assign posterList = site.data.abstracts %} {% assign
        animationDelay = 0 %} {% for card in posterList %} {% assign colWidth =
        12 %} {% if card.Poster %}
        <div
          class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding box"
          data-animation="fadeInDown"
          data-delay="{{ animationDelay }}"
        >
          <div class="card">
            <h4>{{card.ID}}) {{ card.Title }}</h4>
            {% assign iid = card.ID | plus: 0 %}<p>{% if iid <= 58 %}October 22{%else%}October 23{%endif%}</p></br>
            <p>{{ card.Authors }}</p>
            <a class="trigger_popup_fricc" id="abs-open{{ forloop.index }}"
              >Abstract</a
            >
            
            {% if card.drive_id and card.drive_id != "" %}
              <a class="trigger_popup_fricc" id="pdf-open{{ forloop.index }}">Poster</a>
              <!-- { % else %}
              <span>No poster preview</span> -->
            {% endif %}
            {% if card.drive_id == "" %}
            <a class="trigger_popup_fricc">Poster preview is not available</a>
            {% endif %}

            <a class="trigger_popup_fricc" target="_blank" href="https://meet.jit.si/hibit2020/{{iid}}_alARIGRagEntACkAYWCo">
            Poster Session
            </a>
          </div>
        </div>
        {% endif %} {% assign animationDelay = animationDelay %} {% endfor %}
      </div>
    </div>
  </div>
  {% for card in site.data.abstracts %} {% if card.Poster %}
  <div class="hover_bkgr_fricc" id="pdf-{{ forloop.index }}">
    <span class="helper"></span>
    <div style="max-width: 90%; width: 70%">
      <div class="popupCloseButton" id="pdf-close{{forloop.index}}">
        &times;
      </div>
      <div id="iholder-{{forloop.index}}"></div>
    </div>
  </div>

  <script type="text/javascript">
    var drive_link_{{ forloop.index }} =
      '<iframe src="https://drive.google.com/file/d/{{ card.drive_id }}/preview" width="640" height="480"></iframe>';
    $("#pdf-open{{ forloop.index }}").click(function () {
      $("#iholder-{{forloop.index}}").html(drive_link_{{forloop.index}});
      $("#pdf-{{ forloop.index }}").show();
    });
    $("#pdf-{{forloop.index}}").click(function () {
      $("#iholder-{{forloop.index}}").html("");
      $("#pdf-{{ forloop.index }}").hide();
    });
    $("#pdf-close{{forloop.index}}").click(function () {
      $("#iholder-{{forloop.index}}").html("");
      $("#pdf-{{ forloop.index }}").hide();
    });
  </script>
  {% endif %}{% endfor %} {% for card in site.data.abstracts %} {%
  if card.Poster %}
  <div class="hover_bkgr_fricc" id="abstract-{{ forloop.index }}">
    <span class="helper"></span>
    <div style="max-width: 90%; width: 70%">
      <div class="popupCloseButton" id="abs-close{{forloop.index}}">
        &times;
      </div>
      <p>{{ card.Abstract }}</p>
    </div>
  </div>

  <script type="text/javascript">
    $("#abs-open{{ forloop.index }}").click(function () {
      $("#abstract-{{ forloop.index }}").show();
    });
    $("#abstract-{{forloop.index}}").click(function () {
      $("#abstract-{{ forloop.index }}").hide();
    });
    $("#abs-close{{forloop.index}}").click(function () {
      $("#abstract-{{ forloop.index }}").hide();
    });
  </script>
  {% endif %}{% endfor %}
</section>
<!-- End Direction Details -->
